/* Estilos para el curso de creación de currículum */

.curso-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.curso-content {
  margin-top: 20px;
}

.progress {
  height: 20px;
  background-color: #f8f9fa;
  border-radius: 10px;
  margin-top: 20px;
  position: relative;
}

.progress-bar {
  height: 100%;
  background-color: #007bff;
  border-radius: 10px;
  transition: width 0.3s ease-in-out;
}

.progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  color: #000;
}

h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #0056b3;
}

.image-container1 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; /* Añade un margen inferior para separar la imagen del botón */
  }
  

  .image-container2 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; /* Añade un margen inferior para separar la imagen del botón */
  }

  .image-container3 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; /* Añade un margen inferior para separar la imagen del botón */
  }

  .image-container4 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; /* Añade un margen inferior para separar la imagen del botón */
  }

  .image-container5 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; /* Añade un margen inferior para separar la imagen del botón */
  }

  .image-container6 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; /* Añade un margen inferior para separar la imagen del botón */
  }