.list-group-item-success {
    background-color: #769e33; /* Verde de Bootstrap */
    color: rgb(254, 252, 252); /* Color de texto blanco */
}



/*CONTENEDOR PADRE */
#contenedor{
    
    display:grid;
   place-items: center;
    width: auto;
    margin: auto;
    padding-top: 30px;
}



/*CONTENEDOR HIJO PARA INGRESAR INFORMACION DEL CURSO */
.div-1{
    margin-left: 20px;
    width: 70%;

}


/*CONTENEDOR HIJO PARA SUBIR MULTIMEDIA DEL CURSO */
.div-2{
    margin-left: 30px;
    width: 70%;
    margin-top: 50px;
}


/* BARRA DE NAVEGACION PRINCIPAL */
 #nav2{
    background: linear-gradient(to right, #Ff571e, #CEFF24,#0ab5fd);
}

#nav3{
    justify-content: center;
}

h4{
    text-align: center;
    margin-bottom: 30px;
}

#boton{
    text-align: center;
    margin-top: 50px;
}
