

.input-group2 {
    display: flex;
    flex-direction: column;
    text-align: left;
}

h2{
    color: black;
    font-size:  30px;
    font-weight: 600;
    margin-bottom: 15px;
    text-align: center;
}

h3{
    font-size: 15px;
    text-align: center;
}

input, textarea {
    padding: 17px 25px;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: aliceblue;
    border: 2px solid antiquewhite;
    color: grey;
    outline: none;
}

.btn2{
    font-size: 16px;
    color: white;
    border: 0;
    border-radius: 25px;
    background-color: #C2FB33;
    cursor:pointer;
}

.form2{
    width: 50%;
    justify-content: center;
    position: relative;
}