.list-group-item-success {
    background-color: #769e33; /* Verde de Bootstrap */
    color: rgb(254, 252, 252); /* Color de texto blanco */
}
#contenedor{
    text-align: left;
    margin-top: 20px;
    
   
}
 #nav2{
    background: linear-gradient(to right, #Ff571e, #CEFF24,#0ab5fd);
}

body{
    background-color: ;
}
div #barra{
    margin-top: 60px;
}
div #border{
    border:black;
}